In [1]:
import pandas as pd

In [2]:
df_data = pd.read_csv("../../raw_data/diabetes.csv")
df_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
df_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [4]:
print("\nCantidad de valores 0 en Glucose:", (df_data['Glucose'] == 0).sum())
print("\nCantidad de valores 0 en BloodPressure:", (df_data['BloodPressure'] == 0).sum())
print("\nCantidad de valores 0 en SkinThickness:", (df_data['SkinThickness'] == 0).sum())
print("\nCantidad de valores 0 en Insulin:", (df_data['Insulin'] == 0).sum())
print("\nCantidad de valores 0 en BMI:", (df_data['BMI'] == 0).sum())

Cantidad de valores 0 en Glucose: 5

Cantidad de valores 0 en BloodPressure: 35

Cantidad de valores 0 en SkinThickness: 227

Cantidad de valores 0 en Insulin: 374

Cantidad de valores 0 en BMI: 11

In [11]:
#reemplazar los datos de la glucosa que se encuentran en 0 con la media
df_data['Glucose'] = df_data['Glucose'].replace(0, df_data['Glucose'].mean())
#reemplazar los datos de la BloodPressure que se encuentran en 0 con la media
df_data['BloodPressure'] = df_data['BloodPressure'].replace(0, df_data['BloodPressure'].mean())
#reemplazar los datos del SkinThickness que se encuentran en 0 con la media
df_data['SkinThickness'] = df_data['SkinThickness'].replace(0, df_data['SkinThickness'].mean())
#reemplazar los datos de Insulin que se encuentran en 0 con la media
df_data['Insulin'] = df_data['Insulin'].replace(0, df_data['Insulin'].mean())
#reemplazar los datos del bmi(imc) que se encuentran en 0 con la media
df_data['BMI'] = df_data['BMI'].replace(0, df_data['BMI'].mean())
df_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.681605,72.254807,26.606479,118.660163,32.450805,0.471876,33.240885,0.348958
std,3.369578,30.436016,12.115932,9.631241,93.080358,6.875374,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,20.536458,79.799479,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,79.799479,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [17]:
Q1 = df_data['SkinThickness'].quantile(0.25)
Q3 = df_data['SkinThickness'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR 
outliers = df_data[(df_data['SkinThickness'] < lower_bound) | (df_data['SkinThickness'] > upper_bound)]

print("Outliers")
print(outliers)

Outliers
     Pregnancies  Glucose  BloodPressure  SkinThickness     Insulin   BMI  \
57             0    100.0           88.0           60.0  110.000000  46.8
86            13    106.0           72.0           54.0   79.799479  36.6
99             1    122.0           90.0           51.0  220.000000  49.7
120            0    162.0           76.0           56.0  100.000000  53.2
150            1    136.0           74.0           50.0  204.000000  37.4
211            0    147.0           85.0           54.0   79.799479  42.8
273            1     71.0           78.0           50.0   45.000000  33.2
275            2    100.0           70.0           52.0   57.000000  40.5
445            0    180.0           78.0           63.0   14.000000  59.4
532            1     86.0           66.0           52.0   65.000000  41.3
579            2    197.0           70.0           99.0   79.799479  34.7
591            2    112.0           78.0           50.0  140.000000  39.4

     DiabetesPedigreeFunction  Age  Outcome
57                      0.962   31        0
86                      0.178   45        0
99                      0.325   31        1
120                     0.759   25        1
150                     0.399   24        0
211                     0.375   24        0
273                     0.422   21        0
275                     0.677   25        0
445                     2.420   25        1
532                     0.917   29        0
579                     0.575   62        1
591                     0.175   24        0

In [18]:
#eliminamos el dato que tiene el SkinThickness de 99
df_data.drop(index=579, inplace=True)

In [23]:
df_data['SkinThickness'].describe()

count    767.000000
mean      26.512094
std        9.275299
min        7.000000
25%       20.536458
50%       23.000000
75%       32.000000
max       63.000000
Name: SkinThickness, dtype: float64

In [26]:
Q1 = df_data['Pregnancies'].quantile(0.25)
Q3 = df_data['Pregnancies'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df_data[(df_data['Pregnancies'] < lower_bound) | (df_data['Pregnancies'] > upper_bound)]

print("Outliers")
print(outliers)

Outliers
     Pregnancies  Glucose  BloodPressure  SkinThickness     Insulin   BMI  \
88            15    136.0           70.0           32.0  110.000000  37.1
159           17    163.0           72.0           41.0  114.000000  40.9
298           14    100.0           78.0           25.0  184.000000  36.6
455           14    175.0           62.0           30.0   79.799479  33.6

     DiabetesPedigreeFunction  Age  Outcome
88                      0.153   43        1
159                     0.817   47        1
298                     0.412   46        1
455                     0.212   38        1

In [27]:
#eliminamos los datos de Pregnancy que son outliers
df_data.drop(index=88, inplace=True)
df_data.drop(index=159, inplace=True)
df_data.drop(index=298, inplace=True)
df_data.drop(index=455, inplace=True)

In [28]:
Q1 = df_data['Pregnancies'].quantile(0.25)
Q3 = df_data['Pregnancies'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df_data[(df_data['Pregnancies'] < lower_bound) | (df_data['Pregnancies'] > upper_bound)]

print("Outliers")
print(outliers)

Outliers
Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [31]:
Q1 = df_data['BMI'].quantile(0.25)
Q3 = df_data['BMI'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df_data[(df_data['BMI'] < lower_bound) | (df_data['BMI'] > upper_bound)]

print("Outliers")
print(outliers)

Outliers
     Pregnancies  Glucose  BloodPressure  SkinThickness     Insulin   BMI  \
120            0    162.0      76.000000      56.000000  100.000000  53.2
125            1     88.0      30.000000      42.000000   99.000000  55.0
177            0    129.0     110.000000      46.000000  130.000000  67.1
193           11    135.0      69.105469      20.536458   79.799479  52.3
247            0    165.0      90.000000      33.000000  680.000000  52.3
303            5    115.0      98.000000      20.536458   79.799479  52.9
445            0    180.0      78.000000      63.000000   14.000000  59.4
673            3    123.0     100.000000      35.000000  240.000000  57.3

     DiabetesPedigreeFunction  Age  Outcome
120                     0.759   25        1
125                     0.496   26        1
177                     0.319   26        1
193                     0.578   40        1
247                     0.427   23        0
303                     0.209   28        1
445                     2.420   25        1
673                     0.880   22        0