In [1]:
import pandas as pd

In [2]:
df_data = pd.read_csv("../../raw_data/diabetes.csv")
df_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
df_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [4]:
print("\nCantidad de valores 0 en Glucose:", (df_data['Glucose'] == 0).sum())
print("\nCantidad de valores 0 en BloodPressure:", (df_data['BloodPressure'] == 0).sum())
print("\nCantidad de valores 0 en SkinThickness:", (df_data['SkinThickness'] == 0).sum())
print("\nCantidad de valores 0 en Insulin:", (df_data['Insulin'] == 0).sum())
print("\nCantidad de valores 0 en BMI:", (df_data['BMI'] == 0).sum())

Cantidad de valores 0 en Glucose: 5

Cantidad de valores 0 en BloodPressure: 35

Cantidad de valores 0 en SkinThickness: 227

Cantidad de valores 0 en Insulin: 374

Cantidad de valores 0 en BMI: 11

In [8]:
#reemplazar los datos de la glucosa que se encuentran en 0 con la media
df_data['Glucose'] = df_data['Glucose'].replace(0, df_data['Glucose'].mean())
#reemplazar los datos de la BloodPressure que se encuentran en 0 con la media
df_data['BloodPressure'] = df_data['BloodPressure'].replace(0, df_data['BloodPressure'].mean())
#reemplazar los datos del SkinThickness que se encuentran en 0 con la media
df_data['SkinThickness'] = df_data['SkinThickness'].replace(0, df_data['SkinThickness'].mean())
#reemplazar los datos del bmi(imc) que se encuentran en 0 con la media
df_data['BMI'] = df_data['BMI'].replace(0, df_data['BMI'].mean())
df_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.681605,72.254807,26.606479,79.799479,32.450805,0.471876,33.240885,0.348958
std,3.369578,30.436016,12.115932,9.631241,115.244002,6.875374,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,0.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,20.536458,0.000000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [32]:
Q1 = df_data['SkinThickness'].quantile(0.25)
Q3 = df_data['SkinThickness'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR #min 47

# Identificar outliers
outliers = df_data[(df_data['SkinThickness'] < lower_bound) | (df_data['SkinThickness'] > upper_bound)]

print("Outliers")
print(outliers)

Outliers
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
57             0    100.0           88.0           60.0      110  46.8
86            13    106.0           72.0           54.0        0  36.6
99             1    122.0           90.0           51.0      220  49.7
120            0    162.0           76.0           56.0      100  53.2
150            1    136.0           74.0           50.0      204  37.4
211            0    147.0           85.0           54.0        0  42.8
273            1     71.0           78.0           50.0       45  33.2
275            2    100.0           70.0           52.0       57  40.5
445            0    180.0           78.0           63.0       14  59.4
532            1     86.0           66.0           52.0       65  41.3
591            2    112.0           78.0           50.0      140  39.4

     DiabetesPedigreeFunction  Age  Outcome
57                      0.962   31        0
86                      0.178   45        0
99                      0.325   31        1
120                     0.759   25        1
150                     0.399   24        0
211                     0.375   24        0
273                     0.422   21        0
275                     0.677   25        0
445                     2.420   25        1
532                     0.917   29        0
591                     0.175   24        0